---
layout: default
title: Partnership to Advance Throughput Computing
description: Partnership to Advance Throughput Computing
intro_image_CHTC: "images/CHTC-centered.svg"
intro_image_OSG: "images/logo/OSG-logo.svg"
intro_image_absolute: true
intro_image_hide_on_mobile: true
---

{% include main-menu-mobile.html %}

<div class="py-1">
    <div class="container-lg my-1">
        <a href="/facility" class="text-decoration-none bg-primary rounded p-1 me-2 text-white">New Service</a><span><b>PATh compute credits</b> now available to researchers! Learn how PATh can power your research on the <a href="/facility">facility</a> page.</span>
    </div>
</div>
<hr class="m-0">
{% include layout/header.html logo=layout.logo header_class=page.header_class %}
<main>
    <div class="bg-light">
        <div class="container-lg py-4">
            <div class="row mb-3">
                <div class="col-12 col-lg-7">
                    <h2 class="">PATh advances the state of <br>distributed high-throughput computing!</h2>
                    <hr class="m-0 mb-4">
                    <p class="fs-5">
                        PATh provides <b>researchers</b><br> with technologies, services and resources to run their dHTC workloads.
                    </p>
                    <a href="#path-for-researchers" class="btn btn-outline-primary mb-3">PATh for Researchers</a>
                    <p class="fs-5">
                        PATh provides <b>organizations</b><br> with technologies, and services to build and share dHTC capacity.
                    </p>
                    <a href="#path-for-organizations" class="btn btn-outline-primary mb-3">PATh for Organizations</a>
                </div>
                <div class="col-6 col-lg-5 d-none d-lg-flex">
                    <img class="d-none d-md-block img-fluid" src="{{ 'images/logo/PATh_Logo_Primary_Color_Vertical.svg' | relative_url}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg my-5">
        <div id="path-for-researchers" class="row my-3">
            <div class="col-12 col-md-4 col-xxl-4">
                <img class="d-none d-md-block img-fluid" src="{{ 'images/PATh_Researchers.svg' | relative_url}}"/>
            </div>
            <div class="col-12 col-md-8 col-xxl-8 d-flex">
                <div class="my-auto">
                    <h3 class="pb-2">
                        For Researchers
                    </h3>
                    <p class="fs-5">
                        <b>New!</b> Complementing our technologies and services, PATh has dedicated compute resources
                        in the <a href="/facility/#using-path-facilities">PATh facility</a>.
                        <a href="https://www.nsf.gov/pubs/2022/nsf22051/nsf22051.jsp">Apply for compute credits</a> now!
                    </p>
                    <p class="fs-5">
                        US-affiliated projects can use an
                        <a href="https://www.osgconnect.net/">OSG-Connect</a> Access Point to harness the capacity of the
                        <a href="https://opensciencegrid.org/about/open_science_pool/">Open Science Pool</a>.
                    </p>
                </div>
            </div>
        </div>
        <div id="path-for-organizations" class="row my-3">
            <div class="col-12 col-lg-8 col-xxl-8 d-flex">
                <div class="my-auto">
                    <h3 class="pb-2 text-start text-lg-end">
                        For Organizations
                    </h3>
                    <p class="fs-5 text-start text-lg-end">
                        Build local HTC capacity with the <a href="https://htcondor.org">HTCondor Software Suite</a>.
                        Share computing capacity, data, and software between collaborators and even across continents.
                    </p>
                    <p class="fs-5 text-start text-lg-end">
                        Connect or contribute campus computing and data resources into the
                        <a href="https://opensciencegrid.org/campus-cyberinfrastructure.html">US national cyberinfrastructure
                            via OSG</a>. Contact us at <a href="mailtto:support@opensciencegrid.org">support@opensciencegrid.org</a>
                        to collaborate on the right options for your desired outcomes.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xxl-4 d-none d-lg-block">
                <img class="d-none d-md-block img-fluid" src="{{ 'images/University_And_Organization.svg' | relative_url}}"/>
            </div>
        </div>
    </div>
    <div class="container-lg">
        {% include text-hr.html text="News & Events" %}
        <div class="row">
            {% include get/articles.liquid %}
            <div class="col-12 col-md-6 col-lg-4 bg-light">
                {% for article in articles limit: 1 %}
                    {% include highlighted-title-image-text-card.html
                        internal_href=article.url
                        image=article.image.path
                        alt=article.image.alt
                        title=article.title
                        date=article.date
                        desc=article.excerpt
                    %}
                {% endfor %}
            </div>
            {% include get/future_events.html %}
            <div class="col-12 col-lg-4">
                <h2 class="text-primary">
                    Upcoming Events
                </h2>
                <hr class="mt-0">
                {% for event in future_events limit:2 %}
                    <div class="col-12 col-sm-10 col-md-6 col-lg-12">
                        {% include event/event-card.html event=event %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="light" href="https://twitter.com/opensciencegrid/lists/1508877823339073540?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        {% include text-hr.html text="About" %}
        <div class="row mb-4">
            <div class="col-12 col-lg-4 order-2">
                <h2 class="text-primary mb-0">Partners</h2>
                <hr class="header-break">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-lg-12">
                        {% include title-image-card.html
                            image="images/CHTC-centered.svg"
                            alt="Center for High Throughput Computing Logo"
                            href="https://chtc.cs.wisc.edu/"
                        %}
                    </div>
                    <div class="col-12 col-sm-6 col-lg-12">
                        {% include title-image-card.html
                            image="images/logo/OSG-logo.svg"
                            alt="Open Science Grid Logo"
                            href="https://opensciencegrid.org/"
                        %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-4 order-1">
                <div class="row justify-content-start">
                    {% for service in site.services %}
                    <div class="col-12 col-md-6">
                        <div class="service service-summary">
                            <div class="service-content">
                                <h2 class="service-title">
                                    <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
                                </h2>
                                <p>{{ service.excerpt | markdownify | strip_html}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a class="button button-primary" href="{{site.baseurl}}/services">View All Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% include footer.html %}
{% include sub-footer.html %}
<script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
{% include google-analytics.html %}