---
layout: sub-page
bodyClass: page-services-list
---

<h1>News Articles</h1>

<div class="row">
  {% include get/news.liquid %}
  {% for article in news %}
  <div class="col-12 col-md-6 mb-3">
    <div class="news news-summary">
      <div class="article-content">
        <h2 class="article-title">
          <a href="{{site.baseurl}}{{ article.url }}">{{ article.title }}</a>
          {% unless article.hide_date %}
          <small class="text-muted article-date">{{ article.date | date: '%B %d, %Y' }}</small>
          {% endunless %}
        </h2>
        <p>{{ article.excerpt | markdownify | strip_html }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


  