---
layout: sub-page
bodyClass: page-services-list
---

<h1 class="mb-4">News Articles</h1>

<div class="row">
  {% include get/articles.liquid %}
  {% for article in articles %}
  <div class="col-12 col-md-6 mb-4">
    <div class="news news-summary">
      <div class="article-content">
        {% if article.image.path %}
          <a href="{{ article.url | relative_url }}" class="d-block">
            <img class="w-100 image-card-cap rounded mb-3" alt="{{ article.image.alt }}" src="{{ article.image.path | relative_url }}">
          </a>
        {% endif %}
        <h2 class="article-title">
          <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
          {% unless article.hide_date %}
          <small class="text-muted article-date">{{ article.date | date: '%B %d, %Y' }}</small>
          {% endunless %}
        </h2>
        <p>{{ article.excerpt | markdownify | strip_html }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


  