---
layout: sub-page
title: Meet The Team
permalink: /team/
intro_image:
intro_image_absolute: true
intro_image_hide_on_mobile: false
---
{% include get/team.liquid %}
<div class="row pb-5">
    {% assign promoted_teams = team | where: "promoted", true | sort: "weight" %}
    {% for team in promoted_teams %}
    <div class="col-12 col-md-6 mb-2">
        <div class="h-100 team team-summary team-summary-large">
            {% if team.image %}
            <div class="team-image">
                <img alt="{{ team.name }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
            </div>
            {% endif %}
            <div class="team-meta">
                {% if team.website %}
                <a href="{{ team.website }}">
                {% endif %}
                <h2 class="team-name">{{ team.name }}</h2>
                {% if team.website %}
                </a>
                {% endif %}
                <p class="team-institution">{{ team.institution }}</p>
                <p class="team-description">{{ team.title }}</p>
                {% if team.linkedinurl %}
                <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a>
                {% endif %}
            </div>
            <div class="team-content">{{ team.description | truncate: 120 }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    {% assign teams = team | sort: "weight" | sort: "name" %}
    {% for team in teams %}
    {% if team.promoted == nil %}
    <div class="col-12 col-md-6 col-lg-4 mb-3 px-1">
        <div class="team team-summary my-2">
            {% if team.image %}
            <div class="team-image">
                <img alt="{{ team.name }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
            </div>
            {% endif %}
            <div class="team-meta">
                {% if team.website %}
                <a href="{{ team.website }}">
                {% endif %}
                <h3 class="team-name m-0">{{ team.name }}</h3>
                {% if team.website %}
                </a>
                {% endif %}
                <p>{{ team.title }}</p>
                <p class="team-institution"><small>{{ team.institution }}</small></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
