<div class="row justify-content-start">
    <div class="col-12 col-xl-9 col-lg-10 col-md-11">
        {{ content }}
    </div>
    <div class="col-xl-3 d-none d-xl-block bg-light p-1">
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/opensciencegrid?ref_src=twsrc%5Etfw">Tweets by opensciencegrid</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/HTCondor?ref_src=twsrc%5Etfw">Tweets by HTCondor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>