{% assign event = include.event %}

<div class="event-card w-100 pb-1">
    <a href="{{ site.baseurl }}{{ event.url }}">
        <div class="card">
            {% if event.startdate %}
                <div class="card-header">
                    <div class="row">
                        <div class="col p-0">
                            {% assign end = event.enddate | date: "-%e" %}
                            {{ event.startdate | date: "%b %e" | upcase | append : end }}
                        </div>
                        <div class="col pr-0 text-right">
                            {{ event.location }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if event.image %}
                <img alt="" class="card-img" src="{{ event.image }}" \>
                <div class="card-body">
                    <h3 class="card-title m-0">
                        {{ event.title }}
                    </h3>
                </div>
            {% else %}
                <div class="card-body">
                    <h3 class="card-title m-0">
                        {{ event.title }}
                    </h3>
                </div>
            {% endif %}
        </div>
    </a>

</div>