{% assign event = include.event %}

<div class="event-card w-100 pb-1 hover-shadow">
    <a href="{{ site.baseurl }}{{ event.url }}">
        <div class="card shadow-lg">
            {% if event.startdate %}
            <div class="card-header text-dark">
                <div class="row justify-content-between">
                    <div class="col">
                        <h2 class="m-0">
                            {% assign end = event.enddate | date: "-%e" %}
                            {{ event.startdate | date: "%b %e" | upcase | append : end }}
                            |
                            {{ event.location }}
                        </h2>
                    </div>
                    <div class="col">
                        <h2 class="text-right">
                            {{ event.title }}
                        </h2>
                    </div>
                </div>

            </div>
            {% endif %}
            {% if event.image %}
                <img alt="" class="card-img" src="{{ event.image }}" \>
            {% endif %}
        </div>
    </a>
</div>