<div class="alert alert-warning" role="alert" id="osg-cc-star-alert">
            <p>
              We are here to help with your
              <a href="https://www.nsf.gov/pubs/2021/nsf21528/nsf21528.htm" class="alert-link">Campus
                Cyberinfrastructure (CC*)</a>
              proposal!
              Please contact us at
              <a href="mailto:cc-star-proposals@opensciencegrid.org" class="alert-link">cc-star-proposals@opensciencegrid.org</a>.
            </p>
            <p>
              We have significant experience working with CC* applicants and awardees,
              offering letters of support and consulting for:
            </p>
            <ul>
              <li>Bringing the power of the OSG to <strong>your</strong> researchers,</li>
              <li>Gathering science drivers and planning local computing resources, and</li>
              <li>
                CC*-required resource sharing for the Campus Compute category,
                and other options for integrating with OSG.
              </li>
            </ul>
            <p>
              <a href="https://opensciencegrid.org/technology/policy/campus-cyberinfrastructure/" class="alert-link">Learn
                more about PATh and OSG&rsquo;s collaboration</a>
              with CC* recipients.
            </p>
          </div>
