<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <div class="social">
              <a href="https://www.nsf.gov/oac">
                  <img height="48px" width="48px" src="{{ '/images/logo/nsf-logo.svg' | relative_url }}">
              </a>
          </div>
          <div class="copyright">
              This project is supported by National Science Foundation under Cooperative Agreement
              <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2030508">OAC-2030508</a>.
              Any opinions, findings, conclusions or recommendations expressed in this material are those of the
              authors and do not necessarily reflect the views of the National Science Foundation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
