<div class="bg-light mb-2">
    <a href="{{ include.href }}">
        <div class="card border-0 hover-shadow shadow-sm bg-light p-2">
            {% if include.title %}
                <div class="card-header">
                    <h2>
                        {{ include.title }}
                    </h2>
                </div>
            {% endif %}
            <div>
                {% if include.image %}
                <img alt="{{ include.alt }}" class="card-img" src="{{ include.image | relative_url }}" />
                {% endif %}
            </div>
        </div>
    </a>
</div>
