.page-home {
}

/* This is more than a little hacky, but the theme had issues to work around. */
div#osg-cc-star-alert {
  p {
    width: 100%;
  }
  p:last-child {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 1rem;
    padding-left: 1em;
  }
}

.hero-image {
  background-color: $white-offset;
  img {
    width: 100%;
    height: 300px;
  }
}