---
# this ensures Jekyll reads the file to be transformed into CSS later
---

// Colors
$primary: #d41041;
$secondary: #f88379;
$dark: black;
$black: #000000;
$white: #ffffff;
$white-offset: lighten($primary, 53);
$steel: #5C5A5A;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Playfair Display', serif, -apple-system;
$font-family-nav: 'Playfair Display', serif, -apple-system;

// Navbar
$navbar-light-color: $black;
$navbar-light-active-color: $primary;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library


// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/feature';
@import 'components/social';

// Pages
@import 'pages/home';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';
@import 'pages/news/page-news-single';
@import 'pages/event/page-event-single';

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.image-container{
  img{
    width: 100%;
  }
  display: block;
  height: auto;
  width: 100%;
}

.event{
  .main{
    ul {
      margin-bottom: 1rem;
      padding-left: 40px;
    }
    line-height: 26px;
    color: #5C5A5A;
    font-family: Helvetica, Arial, sans-serif, -apple-system;
  }
}

.navbar {
  width: 100%;
  font-size: 1.2rem;
  .social-media {
    img {
      margin-left: map-get($spacers, 1);
      height: 35px;
    }
  }
}


.section-break {
  font-weight: bold;
  hr {
    border-top-color: $primary;
    border-top-width: 3px;
  }
  .section-header {
    font-size: large;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
}

hr.header-break {
  border-top-color: $black;
  border-top-width: 2px;
  margin-top: 0px;
}

.muted-date {
  color: $text-muted;
  font-size: 60%;
}