---
# this ensures Jekyll reads the file to be transformed into CSS later
---

$enable-shadows: true;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 6,
        7: $spacer * 8,
) !default;

// Colors
$primary: #d41041;
$primary-light: lighten($primary, 30%);
$primary-white: lighten($primary, 40%);
$secondary: #000000;
$secondary-light: lighten($secondary, 50%);
$secondary-white: lighten($secondary, 97%);

$dark: black;
$black: #000000;
$white: #ffffff;
$white-offset: $secondary-white;
$steel: #5C5A5A;

// Cards
$card-background-color: lighten($secondary-light, 5);

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$headings-font-weight:  300;

$nav-link-font-weight:  300;

$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-size-base: 1rem;

$font-family-heading: $font-family-base;

// Navbar
$navbar-light-color: $black;
$navbar-light-active-color: $primary;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;


// Load in the rest of bootstrap
@import 'bootstrap/bootstrap';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';


// Pages
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';
@import 'pages/news/page-news-single';
@import 'pages/event/page-event-single';

// Responsive Font Size
html {
  font-size: 14px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
}


body {
  font-family: $font-family-base;
}

.image-container{
  img{
    width: 100%;
  }
  display: block;
  height: auto;
  width: 100%;
}

.event{
  .main{
    ul {
      margin-bottom: 1rem;
      padding-left: 40px;
    }
    color: #5C5A5A;
    font-family: Helvetica, Arial, sans-serif, -apple-system;
  }
}

.navbar {
  width: 100%;
  font-size: 1.2rem;
  .social-media {
    img {
      margin-left: map-get($spacers, 1);
      height: 35px;
    }
  }
}

hr.header-break {
  border-top-color: $primary;
  border-top-width: 2px;
  margin-top: 0px;
}

.muted-date {
  color: $text-muted;
  font-size: 60%;
}

main {
  li {
    a {
      text-decoration: underline;
    }
  }
  p {
    a {
      text-decoration: underline;
    }
  }
}
@each $number, $padding in $spacers {
  .top-#{$number} {
    top: #{$padding}
  }
}

.image-card-cap {
  height:150px;
  object-fit: cover;
}

.hover-shadow-sm:hover {
  box-shadow: 0 .125rem .25rem rgba($black, .075) !important;
}

.hover-shadow:hover {
  box-shadow: 0 .5rem 1rem rgba($black, .15) !important;
}

#hero {
  position: relative;
  background-color: transparent;
}
@include media-breakpoint-up(lg) {
  #hero::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/images/PATH_swoop_lg.png);
  }
}
@include media-breakpoint-up(xl) {
  #hero::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/images/PATH_swoop.png);
  }
}



