{% assign logo = include.logo | default: site.logo.desktop %}
{% assign header_class = include.header_class | "light" %}

<div>
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-light ps-0 pe-0">

      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img height="{{ site.logo.desktop_height }}" src="{{ logo | relative_url }}" alt="{{ site.title }}"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="about-nav" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="about-nav">
              <a class="dropdown-item" href="{{ '/about' | relative_url }}">PATh</a>
              <a class="dropdown-item" href="{{ '/team' | relative_url }}">Team</a>
              <a class="dropdown-item" href="{{ '/glossary' | relative_url }}">Glossary</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="facility-nav" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Facility
            </a>
            <div class="dropdown-menu" aria-labelledby="facility-nav">
              <a class="dropdown-item" href="{{ '/facility/index.html' | relative_url }}">About</a>
              <a class="dropdown-item" href="{{ '/facility/registration.html' | relative_url }}">Registration</a>
            </div>
          </li>
          {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
          {% for item in mainmenu %}
          <li class="nav-item {% if item.url == page.url %}active{% endif %}">
            <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="social-media d-none d-lg-block">
          <a class="text-decoration-none" href="https://twitter.com/opensciencegrid">
            <img alt="Twitter Icon" src="{{ '/images/icons/twitter.svg' | relative_url }}"/>
          </a>
          <a class="text-decoration-none" href="https://www.youtube.com/channel/UCd1UBXmZIgB4p85t2tu-gLw">
            <img src="{{ '/images/icons/youtube.svg' | relative_url }}"/>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
