a {
  color: $primary;
}
p {
  color: $steel;
  font-family: $font-family-base;
  margin-bottom: 20px;
}
h1 {
  font-family: $font-family-heading;
  margin-bottom: 20px;
}
h2 {
  font-family: $font-family-heading;
  margin-bottom: 10px;
}
h3 {
  font-family: $font-family-heading;
}

ul,
ol {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  li {
    color: $steel;
    padding: 0;
    padding-bottom: .2rem;
    margin: 0;
  }
}