---
layout: default
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="news news-single">
                <h1 class="title">{{page.title}}
                    {% assign end_day = page.enddate | date: "-%e" %}
                    {% assign date_start = page.startdate | date: "%B %e" | append : end_day %}
                    {% assign date = page.startdate | date: ", %Y" | prepend : date_start %}
                    <small class="text-muted article-date">{{ date }}</small>
                </h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>