---
layout: container-default
---

{% assign use_date = true %}
{% if page.hide_date %}
  {% assign use_date = false %}
{% endif %}

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-9 col-xl-8 fs-5 ">
    {% include layout/subpage-header.html date=use_date %}
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-9 col-xl-8">
    <div class="news news-single">
      <div class="content fs-5">{{content}}</div>
    </div>
  </div>
</div>