.article-date {
    font-size: 60%;
}
.article-date:before {
    content: '\a';
    white-space: pre;
}

.article-title {
    line-height: 1.0;
}

.news-single .title {
    line-height: 1.0;
}

.article-content {
    line-height: 26px;
    color: #5C5A5A;
    font-family: Helvetica, Arial, sans-serif, -apple-system;
    margin-bottom: 20px;
}